#contenedor-principal {
  background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 1) 0%, 
    rgba(255, 255, 255, 0.7) 10%, 
    rgba(0, 0, 0, 0.7) 90%, 
    rgba(0, 0, 0, 1) 100%);
  height: 100vh;
}
#contenedor {
  background-image: linear-gradient(to top,rgba(255, 255, 255, 0.9),rgba(127, 18, 154, 0.3));
  /*background-color: rgba(0, 0, 0, 0.2);*/
  box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.6);
  border-radius: 10px;
}